{% spaceless %}
    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    <div class="hidden" data-title="{{ block('title')|striptags }}"
            {%- if app.session.flashbag.peekAll|length > 0 %} data-pjax-flashes="{{ session_flash(true)|escape }}"
            {%- endif -%}>
    </div>
    {% block content %}{% endblock %}
{% endspaceless %}
{% block javascripts %}{% endblock %}
