{% spaceless %}
    <div class="modal fade" id="pjaxModal" tabindex="-1" role="dialog" aria-labelledby="pjaxModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" data-pjax-container="modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="pjaxModalLabel"></h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endspaceless %}
