{% extends pjax_frame() %}
{% block content %}
    <div class="content-head">
        <h1 class="content-heading">{% block title %}{% endblock %}</h1>
        <div class="content-actions">
           {% block actions %}{% endblock %}
        </div>
    </div>
    <div class="content-body">
        {% block filter %}{% endblock %}
        {% block body %}{% endblock %}
    </div>
{% endblock %}
