{% extends pjax_frame() %}
{% block content %}
    {% spaceless %}
        <div class="panel-heading">
            <h3 class="panel-title">{% block title %}{% endblock %} {% block actions %}{% endblock %}</h3>
        </div>
        <div class="panel-body container-fluid">
            <div class="content-filters">
                {% block filter %}{% endblock %}
            </div>
            {% block body %}{% endblock %}
        </div>
    {% endspaceless %}
{% endblock %}
