{% spaceless %}
    {% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
    <div class="hidden" data-pjax-meta
            {%- if app.session.flashbag.peekAll|length > 0 %} data-pjax-flashes="{{ session_flash(true)|escape }}"
            {%- endif %} data-menu-current="{{ knp_menu_currents('main')|json_encode }}">
        <title>{{ block('title') }}</title>
    </div>
    {% block content %}{% endblock %}
{% endspaceless %}
{% block javascripts %}{% endblock %}
